absl-py==0.6.1
algopy==0.5.7
asn1crypto==0.24.0
astor==0.7.1
beautifulsoup4==4.6.3
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
cloudpickle==0.6.1
cryptography==2.1.4
cycler==0.10.0
dask==1.0.0
decorator==4.3.0
dj-database-url==0.5.0
django==2.1
gast==0.2.0
grpcio==1.17.1
gunicorn==19.9.0
h5py==2.9.0
idna==2.6
imutils==0.5.2
inflection==0.3.1
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Markdown==3.0.1
matplotlib==2.1.2
modelbase==0.2.5
more-itertools==4.1.0
ndg-httpsclient==0.4.4
networkx==2.2
numdifftools==0.9.20
numpy==1.14.0
opencv-python==3.4.5.20
pandas==0.22.0
Pillow==5.4.0
protobuf==3.6.1
psycopg2==2.7.6.1
pyasn1==0.4.2
pycparser==2.18
pyOpenSSL==17.5.0
pyparsing==2.2.0
python-dateutil==2.6.1
python-utils==2.3.0
pytz==2018.3
PyWavelets==1.0.1
PyYAML==3.13
Quandl==3.3.0
requests==2.18.4
scikit-image==0.14.1
scikit-learn==0.19.1
scipy==1.0.0
simplesbml==1.2.2
six==1.11.0
sklearn==0.0
tensorboard==1.12.2
tensorflow==1.15.4
termcolor==1.1.0
tesbml==5.15.0.1
toolz==0.9.0
urllib3==1.22
utils==0.9.0
virtualenv==16.2.0
Werkzeug==0.14.1
whitenoise==4.1.2
